
<!-- <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Post Advirtisment</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="Addpost()">Post Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/showpost" >Show Data</a>
          </li>

           <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </ul>
      </div>
   </form>
</nav> -->

<nav class="navbar navbar-expand-lg bg-danger-subtle">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Flicker Online buy & Sale</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <li class="nav-link active" (click)="Addpost()">Add PostData</li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/showpost">Show postdata</a>
          </li>
          
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/post">post</a>
          </li> -->
          
           
          
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


